modelscope==1.9.5
streamlit==1.24.0
sentencepiece==0.1.99
accelerate==0.24.1
langchain==0.0.292

pypdfium2
sentence-transformers==2.2.2
transformers==4.11.3
tokenizers==0.10.1
unstructured==0.10.30
markdown==3.3.7
huggingface_hub
chromadb==0.3.0
openxlab
